/* ----------------------------------------------
 * ANIMATION / ENTRANCES / SLIDE-IN
 * ---------------------------------------------- */
/* SLIDE-IN, slide-in-top */
#slide-in-top {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes slide-in-top {
        0% {
          -webkit-transform: translateY(-1000px);
                  transform: translateY(-1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          opacity: 1;
        }
      }
      @keyframes slide-in-top {
        0% {
          -webkit-transform: translateY(-1000px);
                  transform: translateY(-1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          opacity: 1;
        }
      }
      
/* SLIDE-IN, slide-in-tr */
#slide-in-tr {
	-webkit-animation: slide-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes slide-in-tr {
        0% {
          -webkit-transform: translateY(-1000px) translateX(1000px);
                  transform: translateY(-1000px) translateX(1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0) translateX(0);
                  transform: translateY(0) translateX(0);
          opacity: 1;
        }
      }
      @keyframes slide-in-tr {
        0% {
          -webkit-transform: translateY(-1000px) translateX(1000px);
                  transform: translateY(-1000px) translateX(1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0) translateX(0);
                  transform: translateY(0) translateX(0);
          opacity: 1;
        }
      }
      
/* SLIDE-IN, slide-in-right */
#slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes slide-in-right {
        0% {
          -webkit-transform: translateX(1000px);
                  transform: translateX(1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
      @keyframes slide-in-right {
        0% {
          -webkit-transform: translateX(1000px);
                  transform: translateX(1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
      
/* SLIDE-IN, slide-in-br */
#slide-in-br {
	-webkit-animation: slide-in-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes slide-in-br {
        0% {
          -webkit-transform: translateY(1000px) translateX(1000px);
                  transform: translateY(1000px) translateX(1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0) translateX(0);
                  transform: translateY(0) translateX(0);
          opacity: 1;
        }
      }
      @keyframes slide-in-br {
        0% {
          -webkit-transform: translateY(1000px) translateX(1000px);
                  transform: translateY(1000px) translateX(1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0) translateX(0);
                  transform: translateY(0) translateX(0);
          opacity: 1;
        }
      }
      
/* SLIDE-IN, slide-in-bottom */
#slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes slide-in-bottom {
        0% {
          -webkit-transform: translateY(1000px);
                  transform: translateY(1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          opacity: 1;
        }
      }
      @keyframes slide-in-bottom {
        0% {
          -webkit-transform: translateY(1000px);
                  transform: translateY(1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          opacity: 1;
        }
      }
      
/* SLIDE-IN, slide-in-bl */
#slide-in-bl {
	-webkit-animation: slide-in-bl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes slide-in-bl {
        0% {
          -webkit-transform: translateY(1000px) translateX(-1000px);
                  transform: translateY(1000px) translateX(-1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0) translateX(0);
                  transform: translateY(0) translateX(0);
          opacity: 1;
        }
      }
      @keyframes slide-in-bl {
        0% {
          -webkit-transform: translateY(1000px) translateX(-1000px);
                  transform: translateY(1000px) translateX(-1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0) translateX(0);
                  transform: translateY(0) translateX(0);
          opacity: 1;
        }
      }
      
/* SLIDE-IN, slide-in-left */
#slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes slide-in-left {
        0% {
          -webkit-transform: translateX(-1000px);
                  transform: translateX(-1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
      @keyframes slide-in-left {
        0% {
          -webkit-transform: translateX(-1000px);
                  transform: translateX(-1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
      
/* SLIDE-IN, slide-in-tl */
#slide-in-tl {
	-webkit-animation: slide-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes slide-in-tl {
        0% {
          -webkit-transform: translateY(-1000px) translateX(-1000px);
                  transform: translateY(-1000px) translateX(-1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0) translateX(0);
                  transform: translateY(0) translateX(0);
          opacity: 1;
        }
      }
      @keyframes slide-in-tl {
        0% {
          -webkit-transform: translateY(-1000px) translateX(-1000px);
                  transform: translateY(-1000px) translateX(-1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0) translateX(0);
                  transform: translateY(0) translateX(0);
          opacity: 1;
        }
      }
      