/* ----------------------------------------------
 * ANIMATION / EXITS / BOUNCE-OUT
 * ---------------------------------------------- */
/* BOUNCE-OUT, bounce-out-top */
#bounce-out-top {
	-webkit-animation: bounce-out-top 1.5s both;
	        animation: bounce-out-top 1.5s both;
}
 @-webkit-keyframes bounce-out-top {
        0% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        5% {
          -webkit-transform: translateY(-30px);
                  transform: translateY(-30px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        15% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        25% {
          -webkit-transform: translateY(-38px);
                  transform: translateY(-38px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        38% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        52% {
          -webkit-transform: translateY(-75px);
                  transform: translateY(-75px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        70% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        85% {
          opacity: 1;
        }
        100% {
          -webkit-transform: translateY(-800px);
                  transform: translateY(-800px);
          opacity: 0;
        }
      }
      @keyframes bounce-out-top {
        0% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        5% {
          -webkit-transform: translateY(-30px);
                  transform: translateY(-30px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        15% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        25% {
          -webkit-transform: translateY(-38px);
                  transform: translateY(-38px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        38% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        52% {
          -webkit-transform: translateY(-75px);
                  transform: translateY(-75px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        70% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        85% {
          opacity: 1;
        }
        100% {
          -webkit-transform: translateY(-800px);
                  transform: translateY(-800px);
          opacity: 0;
        }
      }
      
/* BOUNCE-OUT, bounce-out-right */
#bounce-out-right {
	-webkit-animation: bounce-out-right 1.5s both;
	        animation: bounce-out-right 1.5s both;
}
 @-webkit-keyframes bounce-out-right {
        0% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        5% {
          -webkit-transform: translateX(30px);
                  transform: translateX(30px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        15% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        25% {
          -webkit-transform: translateX(38px);
                  transform: translateX(38px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        38% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        52% {
          -webkit-transform: translateX(80px);
                  transform: translateX(80px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        65% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        85% {
          opacity: 1;
        }
        100% {
          -webkit-transform: translateX(1000px);
                  transform: translateX(1000px);
          opacity: 0;
        }
      }
      @keyframes bounce-out-right {
        0% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        5% {
          -webkit-transform: translateX(30px);
                  transform: translateX(30px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        15% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        25% {
          -webkit-transform: translateX(38px);
                  transform: translateX(38px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        38% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        52% {
          -webkit-transform: translateX(80px);
                  transform: translateX(80px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        65% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        85% {
          opacity: 1;
        }
        100% {
          -webkit-transform: translateX(1000px);
                  transform: translateX(1000px);
          opacity: 0;
        }
      }
      
/* BOUNCE-OUT, bounce-out-bottom */
#bounce-out-bottom {
	-webkit-animation: bounce-out-bottom 1.5s both;
	        animation: bounce-out-bottom 1.5s both;
}
 @-webkit-keyframes bounce-out-bottom {
        0% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        5% {
          -webkit-transform: translateY(30px);
                  transform: translateY(30px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        15% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        25% {
          -webkit-transform: translateY(38px);
                  transform: translateY(38px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        38% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        52% {
          -webkit-transform: translateY(75px);
                  transform: translateY(75px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        70% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        85% {
          opacity: 1;
        }
        100% {
          -webkit-transform: translateY(800px);
                  transform: translateY(800px);
          opacity: 0;
        }
      }
      @keyframes bounce-out-bottom {
        0% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        5% {
          -webkit-transform: translateY(30px);
                  transform: translateY(30px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        15% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        25% {
          -webkit-transform: translateY(38px);
                  transform: translateY(38px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        38% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        52% {
          -webkit-transform: translateY(75px);
                  transform: translateY(75px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        70% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        85% {
          opacity: 1;
        }
        100% {
          -webkit-transform: translateY(800px);
                  transform: translateY(800px);
          opacity: 0;
        }
      }
      
/* BOUNCE-OUT, bounce-out-left */
#bounce-out-left {
	-webkit-animation: bounce-out-left 1.5s both;
	        animation: bounce-out-left 1.5s both;
}
 @-webkit-keyframes bounce-out-left {
        0% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        5% {
          -webkit-transform: translateX(-30px);
                  transform: translateX(-30px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        15% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        25% {
          -webkit-transform: translateX(-38px);
                  transform: translateX(-38px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        38% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        52% {
          -webkit-transform: translateX(-80px);
                  transform: translateX(-80px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        70% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        85% {
          opacity: 1;
        }
        100% {
          -webkit-transform: translateX(-1000px);
                  transform: translateX(-1000px);
          opacity: 0;
        }
      }
      @keyframes bounce-out-left {
        0% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        5% {
          -webkit-transform: translateX(-30px);
                  transform: translateX(-30px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        15% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        25% {
          -webkit-transform: translateX(-38px);
                  transform: translateX(-38px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        38% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        52% {
          -webkit-transform: translateX(-80px);
                  transform: translateX(-80px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        70% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        85% {
          opacity: 1;
        }
        100% {
          -webkit-transform: translateX(-1000px);
                  transform: translateX(-1000px);
          opacity: 0;
        }
      }
      
/* BOUNCE-OUT, bounce-out-bck */
#bounce-out-bck {
	-webkit-animation: bounce-out-bck 1.5s both;
	        animation: bounce-out-bck 1.5s both;
}
 @-webkit-keyframes bounce-out-bck {
        0% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        5% {
          -webkit-transform: translateZ(-100px);
                  transform: translateZ(-100px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        15% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        25% {
          -webkit-transform: translateZ(-110px);
                  transform: translateZ(-110px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        38% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        52% {
          -webkit-transform: translateZ(-200px);
                  transform: translateZ(-200px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        70% {
          -webkit-transform: translateZ(0) scale(1);
                  transform: translateZ(0) scale(1);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        85% {
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(-900px) scale(0);
                  transform: translateZ(-900px) scale(0);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
          opacity: 0;
        }
      }
      @keyframes bounce-out-bck {
        0% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        5% {
          -webkit-transform: translateZ(-100px);
                  transform: translateZ(-100px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        15% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        25% {
          -webkit-transform: translateZ(-110px);
                  transform: translateZ(-110px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        38% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        52% {
          -webkit-transform: translateZ(-200px);
                  transform: translateZ(-200px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        70% {
          -webkit-transform: translateZ(0) scale(1);
                  transform: translateZ(0) scale(1);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        85% {
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(-900px) scale(0);
                  transform: translateZ(-900px) scale(0);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
          opacity: 0;
        }
      }
      
/* BOUNCE-OUT, bounce-out-fwd */
#bounce-out-fwd {
	-webkit-animation: bounce-out-fwd 1.5s both;
	        animation: bounce-out-fwd 1.5s both;
}
 @-webkit-keyframes bounce-out-fwd {
        0% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        5% {
          -webkit-transform: translateZ(90px);
                  transform: translateZ(90px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        15% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        25% {
          -webkit-transform: translateZ(95px);
                  transform: translateZ(95px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        38% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        52% {
          -webkit-transform: translateZ(150px);
                  transform: translateZ(150px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        70% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        85% {
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(500px);
                  transform: translateZ(500px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
          opacity: 0;
        }
      }
      @keyframes bounce-out-fwd {
        0% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        5% {
          -webkit-transform: translateZ(90px);
                  transform: translateZ(90px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        15% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        25% {
          -webkit-transform: translateZ(95px);
                  transform: translateZ(95px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        38% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        52% {
          -webkit-transform: translateZ(150px);
                  transform: translateZ(150px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        70% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        85% {
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(500px);
                  transform: translateZ(500px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
          opacity: 0;
        }
      }
      