/* ----------------------------------------------
 * ANIMATION / EXITS / FADE-OUT
 * ---------------------------------------------- */
/* FADE-OUT, fade-out */
#fade-out {
	-webkit-animation: fade-out 1s ease-out both;
	        animation: fade-out 1s ease-out both;
}
 @-webkit-keyframes fade-out {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
      @keyframes fade-out {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
      
/* FADE-OUT, fade-out-bck */
#fade-out-bck {
	-webkit-animation: fade-out-bck 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: fade-out-bck 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes fade-out-bck {
        0% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(-80px);
                  transform: translateZ(-80px);
          opacity: 0;
        }
      }
      @keyframes fade-out-bck {
        0% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(-80px);
                  transform: translateZ(-80px);
          opacity: 0;
        }
      }
      
/* FADE-OUT, fade-out-fwd */
#fade-out-fwd {
	-webkit-animation: fade-out-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: fade-out-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes fade-out-fwd {
        0% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(80px);
                  transform: translateZ(80px);
          opacity: 0;
        }
      }
      @keyframes fade-out-fwd {
        0% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(80px);
                  transform: translateZ(80px);
          opacity: 0;
        }
      }
      
/* FADE-OUT, fade-out-top */
#fade-out-top {
	-webkit-animation: fade-out-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: fade-out-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes fade-out-top {
        0% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateY(-50px);
                  transform: translateY(-50px);
          opacity: 0;
        }
      }
      @keyframes fade-out-top {
        0% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateY(-50px);
                  transform: translateY(-50px);
          opacity: 0;
        }
      }
      
/* FADE-OUT, fade-out-tr */
#fade-out-tr {
	-webkit-animation: fade-out-tr 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: fade-out-tr 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes fade-out-tr {
        0% {
          -webkit-transform: translateX(0) translateY(0);
                  transform: translateX(0) translateY(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateX(50px) translateY(-50px);
                  transform: translateX(50px) translateY(-50px);
          opacity: 0;
        }
      }
      @keyframes fade-out-tr {
        0% {
          -webkit-transform: translateX(0) translateY(0);
                  transform: translateX(0) translateY(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateX(50px) translateY(-50px);
                  transform: translateX(50px) translateY(-50px);
          opacity: 0;
        }
      }
      
/* FADE-OUT, fade-out-right */
#fade-out-right {
	-webkit-animation: fade-out-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: fade-out-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes fade-out-right {
        0% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateX(50px);
                  transform: translateX(50px);
          opacity: 0;
        }
      }
      @keyframes fade-out-right {
        0% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateX(50px);
                  transform: translateX(50px);
          opacity: 0;
        }
      }
      
/* FADE-OUT, fade-out-br */
#fade-out-br {
	-webkit-animation: fade-out-br 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: fade-out-br 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes fade-out-br {
        0% {
          -webkit-transform: translateX(0) translateY(0);
                  transform: translateX(0) translateY(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateX(50px) translateY(50px);
                  transform: translateX(50px) translateY(50px);
          opacity: 0;
        }
      }
      @keyframes fade-out-br {
        0% {
          -webkit-transform: translateX(0) translateY(0);
                  transform: translateX(0) translateY(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateX(50px) translateY(50px);
                  transform: translateX(50px) translateY(50px);
          opacity: 0;
        }
      }
      
/* FADE-OUT, fade-out-bottom */
#fade-out-bottom {
	-webkit-animation: fade-out-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: fade-out-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes fade-out-bottom {
        0% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateY(50px);
                  transform: translateY(50px);
          opacity: 0;
        }
      }
      @keyframes fade-out-bottom {
        0% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateY(50px);
                  transform: translateY(50px);
          opacity: 0;
        }
      }
      
/* FADE-OUT, fade-out-bl */
#fade-out-bl {
	-webkit-animation: fade-out-bl 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: fade-out-bl 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes fade-out-bl {
        0% {
          -webkit-transform: translateX(0) translateY(0);
                  transform: translateX(0) translateY(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateX(-50px) translateY(50px);
                  transform: translateX(-50px) translateY(50px);
          opacity: 0;
        }
      }
      @keyframes fade-out-bl {
        0% {
          -webkit-transform: translateX(0) translateY(0);
                  transform: translateX(0) translateY(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateX(-50px) translateY(50px);
                  transform: translateX(-50px) translateY(50px);
          opacity: 0;
        }
      }
      
/* FADE-OUT, fade-out-left */
#fade-out-left {
	-webkit-animation: fade-out-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: fade-out-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes fade-out-left {
        0% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateX(-50px);
                  transform: translateX(-50px);
          opacity: 0;
        }
      }
      @keyframes fade-out-left {
        0% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateX(-50px);
                  transform: translateX(-50px);
          opacity: 0;
        }
      }
      
/* FADE-OUT, fade-out-tl */