/* ----------------------------------------------
 * ANIMATION / EXITS / SLIDE-OUT-FWD
 * ---------------------------------------------- */
/* SLIDE-OUT-FWD, slide-out-fwd-center */
#slide-out-fwd-center {
	-webkit-animation: slide-out-fwd-center 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-fwd-center 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes slide-out-fwd-center {
        0% {
          -webkit-transform: translateZ(1);
                  transform: translateZ(1);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(600px);
                  transform: translateZ(600px);
          opacity: 0;
        }
      }
      @keyframes slide-out-fwd-center {
        0% {
          -webkit-transform: translateZ(1);
                  transform: translateZ(1);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(600px);
                  transform: translateZ(600px);
          opacity: 0;
        }
      }
      
/* SLIDE-OUT-FWD, slide-out-fwd-top */
#slide-out-fwd-top {
	-webkit-animation: slide-out-fwd-top 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-fwd-top 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes slide-out-fwd-top {
        0% {
          -webkit-transform: translateZ(1) translateY(0);
                  transform: translateZ(1) translateY(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(600px) translateY(-300px);
                  transform: translateZ(600px) translateY(-300px);
          opacity: 0;
        }
      }
      @keyframes slide-out-fwd-top {
        0% {
          -webkit-transform: translateZ(1) translateY(0);
                  transform: translateZ(1) translateY(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(600px) translateY(-300px);
                  transform: translateZ(600px) translateY(-300px);
          opacity: 0;
        }
      }
      
/* SLIDE-OUT-FWD, slide-out-fwd-tr */
#slide-out-fwd-tr {
	-webkit-animation: slide-out-fwd-tr 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-fwd-tr 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes slide-out-fwd-tr {
        0% {
          -webkit-transform: translateZ(0) translateY(0) translateX(0);
                  transform: translateZ(0) translateY(0) translateX(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(600px) translateY(-300px) translateX(400px);
                  transform: translateZ(600px) translateY(-300px) translateX(400px);
          opacity: 0;
        }
      }
      @keyframes slide-out-fwd-tr {
        0% {
          -webkit-transform: translateZ(0) translateY(0) translateX(0);
                  transform: translateZ(0) translateY(0) translateX(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(600px) translateY(-300px) translateX(400px);
                  transform: translateZ(600px) translateY(-300px) translateX(400px);
          opacity: 0;
        }
      }
      
/* SLIDE-OUT-FWD, slide-out-fwd-right */
#slide-out-fwd-right {
	-webkit-animation: slide-out-fwd-right 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-fwd-right 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes slide-out-fwd-right {
        0% {
          -webkit-transform: translateZ(0) translateX(0);
                  transform: translateZ(0) translateX(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(600px) translateX(400px);
                  transform: translateZ(600px) translateX(400px);
          opacity: 0;
        }
      }
      @keyframes slide-out-fwd-right {
        0% {
          -webkit-transform: translateZ(0) translateX(0);
                  transform: translateZ(0) translateX(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(600px) translateX(400px);
                  transform: translateZ(600px) translateX(400px);
          opacity: 0;
        }
      }
      
/* SLIDE-OUT-FWD, slide-out-fwd-br */
#slide-out-fwd-br {
	-webkit-animation: slide-out-fwd-br 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-fwd-br 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes slide-out-fwd-br {
        0% {
          -webkit-transform: translateZ(0) translateY(0) translateX(0);
                  transform: translateZ(0) translateY(0) translateX(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(600px) translateY(300px) translateX(400px);
                  transform: translateZ(600px) translateY(300px) translateX(400px);
          opacity: 0;
        }
      }
      @keyframes slide-out-fwd-br {
        0% {
          -webkit-transform: translateZ(0) translateY(0) translateX(0);
                  transform: translateZ(0) translateY(0) translateX(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(600px) translateY(300px) translateX(400px);
                  transform: translateZ(600px) translateY(300px) translateX(400px);
          opacity: 0;
        }
      }
      
/* SLIDE-OUT-FWD, slide-out-fwd-bottom */
#slide-out-fwd-bottom {
	-webkit-animation: slide-out-fwd-bottom 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-fwd-bottom 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes slide-out-fwd-bottom {
        0% {
          -webkit-transform: translateZ(0) translateY(0);
                  transform: translateZ(0) translateY(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(600px) translateY(300px);
                  transform: translateZ(600px) translateY(300px);
          opacity: 0;
        }
      }
      @keyframes slide-out-fwd-bottom {
        0% {
          -webkit-transform: translateZ(0) translateY(0);
                  transform: translateZ(0) translateY(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(600px) translateY(300px);
                  transform: translateZ(600px) translateY(300px);
          opacity: 0;
        }
      }
      
/* SLIDE-OUT-FWD, slide-out-fwd-bl */
#slide-out-fwd-bl {
	-webkit-animation: slide-out-fwd-bl 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-fwd-bl 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes slide-out-fwd-bl {
        0% {
          -webkit-transform: translateZ(0) translateY(0) translateX(0);
                  transform: translateZ(0) translateY(0) translateX(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(600px) translateY(300px) translateX(-400px);
                  transform: translateZ(600px) translateY(300px) translateX(-400px);
          opacity: 0;
        }
      }
      @keyframes slide-out-fwd-bl {
        0% {
          -webkit-transform: translateZ(0) translateY(0) translateX(0);
                  transform: translateZ(0) translateY(0) translateX(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(600px) translateY(300px) translateX(-400px);
                  transform: translateZ(600px) translateY(300px) translateX(-400px);
          opacity: 0;
        }
      }
      
/* SLIDE-OUT-FWD, slide-out-fwd-left */
#slide-out-fwd-left {
	-webkit-animation: slide-out-fwd-left 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-fwd-left 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes slide-out-fwd-left {
        0% {
          -webkit-transform: translateZ(0) translateX(0);
                  transform: translateZ(0) translateX(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(600px) translateX(-400px);
                  transform: translateZ(600px) translateX(-400px);
          opacity: 0;
        }
      }
      @keyframes slide-out-fwd-left {
        0% {
          -webkit-transform: translateZ(0) translateX(0);
                  transform: translateZ(0) translateX(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(600px) translateX(-400px);
                  transform: translateZ(600px) translateX(-400px);
          opacity: 0;
        }
      }
      
/* SLIDE-OUT-FWD, slide-out-fwd-tl */
#slide-out-fwd-tl {
	-webkit-animation: slide-out-fwd-tl 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-fwd-tl 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes slide-out-fwd-tl {
        0% {
          -webkit-transform: translateZ(0) translateY(0) translateX(0);
                  transform: translateZ(0) translateY(0) translateX(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(600px) translateY(-300px) translateX(-400px);
                  transform: translateZ(600px) translateY(-300px) translateX(-400px);
          opacity: 0;
        }
      }
      @keyframes slide-out-fwd-tl {
        0% {
          -webkit-transform: translateZ(0) translateY(0) translateX(0);
                  transform: translateZ(0) translateY(0) translateX(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(600px) translateY(-300px) translateX(-400px);
                  transform: translateZ(600px) translateY(-300px) translateX(-400px);
          opacity: 0;
        }
      }
      