/* ----------------------------------------------
 * ANIMATION / EXITS / SLIDE-OUT-BCK
 * ---------------------------------------------- */
/* SLIDE-OUT-BCK, slide-out-bck-center */
#slide-out-bck-center {
	-webkit-animation: slide-out-bck-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-bck-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes slide-out-bck-center {
        0% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(-1100px);
                  transform: translateZ(-1100px);
          opacity: 0;
        }
      }
      @keyframes slide-out-bck-center {
        0% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(-1100px);
                  transform: translateZ(-1100px);
          opacity: 0;
        }
      }
      
/* SLIDE-OUT-BCK, slide-out-bck-top */
#slide-out-bck-top {
	-webkit-animation: slide-out-bck-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-bck-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes slide-out-bck-top {
        0% {
          -webkit-transform: translateZ(1) translateY(0);
                  transform: translateZ(1) translateY(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(-1100px) translateY(-1000px);
                  transform: translateZ(-1100px) translateY(-1000px);
          opacity: 0;
        }
      }
      @keyframes slide-out-bck-top {
        0% {
          -webkit-transform: translateZ(1) translateY(0);
                  transform: translateZ(1) translateY(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(-1100px) translateY(-1000px);
                  transform: translateZ(-1100px) translateY(-1000px);
          opacity: 0;
        }
      }
      
/* SLIDE-OUT-BCK, slide-out-bck-tr */
#slide-out-bck-tr {
	-webkit-animation: slide-out-bck-tr 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-bck-tr 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes slide-out-bck-tr {
        0% {
          -webkit-transform: translateZ(0) translateY(0) translateX(0);
                  transform: translateZ(0) translateY(0) translateX(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(-1100px) translateY(-1000px) translateX(1000px);
                  transform: translateZ(-1100px) translateY(-1000px) translateX(1000px);
          opacity: 0;
        }
      }
      @keyframes slide-out-bck-tr {
        0% {
          -webkit-transform: translateZ(0) translateY(0) translateX(0);
                  transform: translateZ(0) translateY(0) translateX(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(-1100px) translateY(-1000px) translateX(1000px);
                  transform: translateZ(-1100px) translateY(-1000px) translateX(1000px);
          opacity: 0;
        }
      }
      
/* SLIDE-OUT-BCK, slide-out-bck-right */
#slide-out-bck-right {
	-webkit-animation: slide-out-bck-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-bck-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes slide-out-bck-right {
        0% {
          -webkit-transform: translateZ(0) translateX(0);
                  transform: translateZ(0) translateX(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(-1100px) translateX(1000px);
                  transform: translateZ(-1100px) translateX(1000px);
          opacity: 0;
        }
      }
      @keyframes slide-out-bck-right {
        0% {
          -webkit-transform: translateZ(0) translateX(0);
                  transform: translateZ(0) translateX(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(-1100px) translateX(1000px);
                  transform: translateZ(-1100px) translateX(1000px);
          opacity: 0;
        }
      }
      
/* SLIDE-OUT-BCK, slide-out-bck-br */
#slide-out-bck-br {
	-webkit-animation: slide-out-bck-br 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-bck-br 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes slide-out-bck-br {
        0% {
          -webkit-transform: translateZ(0) translateY(0) translateX(0);
                  transform: translateZ(0) translateY(0) translateX(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(-1100px) translateY(1000px) translateX(1000px);
                  transform: translateZ(-1100px) translateY(1000px) translateX(1000px);
          opacity: 0;
        }
      }
      @keyframes slide-out-bck-br {
        0% {
          -webkit-transform: translateZ(0) translateY(0) translateX(0);
                  transform: translateZ(0) translateY(0) translateX(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(-1100px) translateY(1000px) translateX(1000px);
                  transform: translateZ(-1100px) translateY(1000px) translateX(1000px);
          opacity: 0;
        }
      }
      
/* SLIDE-OUT-BCK, slide-out-bck-bottom */
#slide-out-bck-bottom {
	-webkit-animation: slide-out-bck-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-bck-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes slide-out-bck-bottom {
        0% {
          -webkit-transform: translateZ(0) translateY(0);
                  transform: translateZ(0) translateY(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(-1100px) translateY(1000px);
                  transform: translateZ(-1100px) translateY(1000px);
          opacity: 0;
        }
      }
      @keyframes slide-out-bck-bottom {
        0% {
          -webkit-transform: translateZ(0) translateY(0);
                  transform: translateZ(0) translateY(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(-1100px) translateY(1000px);
                  transform: translateZ(-1100px) translateY(1000px);
          opacity: 0;
        }
      }
      
/* SLIDE-OUT-BCK, slide-out-bck-bl */
#slide-out-bck-bl {
	-webkit-animation: slide-out-bck-bl 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-bck-bl 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes slide-out-bck-bl {
        0% {
          -webkit-transform: translateZ(0) translateY(0) translateX(0);
                  transform: translateZ(0) translateY(0) translateX(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(-1100px) translateY(1000px) translateX(-1000px);
                  transform: translateZ(-1100px) translateY(1000px) translateX(-1000px);
          opacity: 0;
        }
      }
      @keyframes slide-out-bck-bl {
        0% {
          -webkit-transform: translateZ(0) translateY(0) translateX(0);
                  transform: translateZ(0) translateY(0) translateX(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(-1100px) translateY(1000px) translateX(-1000px);
                  transform: translateZ(-1100px) translateY(1000px) translateX(-1000px);
          opacity: 0;
        }
      }
      
/* SLIDE-OUT-BCK, slide-out-bck-left */
#slide-out-bck-left {
	-webkit-animation: slide-out-bck-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-bck-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes slide-out-bck-left {
        0% {
          -webkit-transform: translateZ(0) translateX(0);
                  transform: translateZ(0) translateX(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(-1100px) translateX(-1000px);
                  transform: translateZ(-1100px) translateX(-1000px);
          opacity: 0;
        }
      }
      @keyframes slide-out-bck-left {
        0% {
          -webkit-transform: translateZ(0) translateX(0);
                  transform: translateZ(0) translateX(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(-1100px) translateX(-1000px);
                  transform: translateZ(-1100px) translateX(-1000px);
          opacity: 0;
        }
      }
      
/* SLIDE-OUT-BCK, slide-out-bck-tl */
#slide-out-bck-tl {
	-webkit-animation: slide-out-bck-tl 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-bck-tl 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes slide-out-bck-tl {
        0% {
          -webkit-transform: translateZ(0) translateY(0) translateX(0);
                  transform: translateZ(0) translateY(0) translateX(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(-1100px) translateY(-1000px) translateX(-1000px);
                  transform: translateZ(-1100px) translateY(-1000px) translateX(-1000px);
          opacity: 0;
        }
      }
      @keyframes slide-out-bck-tl {
        0% {
          -webkit-transform: translateZ(0) translateY(0) translateX(0);
                  transform: translateZ(0) translateY(0) translateX(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(-1100px) translateY(-1000px) translateX(-1000px);
                  transform: translateZ(-1100px) translateY(-1000px) translateX(-1000px);
          opacity: 0;
        }
      }
      