/* ----------------------------------------------
 * ANIMATION / BASIC / FLIP-SCALE
 * ---------------------------------------------- */
/* FLIP-SCALE, up-hor */
#flip-scale-up-hor {
  -webkit-animation: flip-scale-up-hor 0.5s linear both;
  animation: flip-scale-up-hor 0.5s linear both;
}
@-webkit-keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
    transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
    transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
    transform: scale(1) rotateX(-180deg);
  }
}
@keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
    transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
    transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
    transform: scale(1) rotateX(-180deg);
  }
}

/* FLIP-SCALE, down-hor */
#flip-scale-down-hor {
  -webkit-animation: flip-scale-down-hor 0.5s linear both;
  animation: flip-scale-down-hor 0.5s linear both;
}
@-webkit-keyframes flip-scale-down-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
    transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(0.4) rotateX(90deg);
    transform: scale(0.4) rotateX(90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(180deg);
    transform: scale(1) rotateX(180deg);
  }
}
@keyframes flip-scale-down-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
    transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(0.4) rotateX(90deg);
    transform: scale(0.4) rotateX(90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(180deg);
    transform: scale(1) rotateX(180deg);
  }
}

/* FLIP-SCALE, up-ver */
#flip-scale-up-ver {
  -webkit-animation: flip-scale-up-ver 0.5s linear both;
  animation: flip-scale-up-ver 0.5s linear both;
}
@-webkit-keyframes flip-scale-up-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateY(90deg);
    transform: scale(2.5) rotateY(90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(180deg);
    transform: scale(1) rotateY(180deg);
  }
}
@keyframes flip-scale-up-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateY(90deg);
    transform: scale(2.5) rotateY(90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(180deg);
    transform: scale(1) rotateY(180deg);
  }
}

/* FLIP-SCALE, down-ver */
#flip-scale-down-ver {
  -webkit-animation: flip-scale-down-ver 0.5s linear both;
  animation: flip-scale-down-ver 0.5s linear both;
}
@-webkit-keyframes flip-scale-down-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(0.4) rotateY(-90deg);
    transform: scale(0.4) rotateY(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(-180deg);
    transform: scale(1) rotateY(-180deg);
  }
}
@keyframes flip-scale-down-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(0.4) rotateY(-90deg);
    transform: scale(0.4) rotateY(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(-180deg);
    transform: scale(1) rotateY(-180deg);
  }
}

/* FLIP-SCALE, up-diag-1 */
#flip-scale-up-diag-1 {
  -webkit-animation: flip-scale-up-diag-1 0.5s linear both;
  animation: flip-scale-up-diag-1 0.5s linear both;
}
@-webkit-keyframes flip-scale-up-diag-1 {
  0% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
    transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(2.5) rotate3d(1, 1, 0, 90deg);
    transform: scale(2.5) rotate3d(1, 1, 0, 90deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 180deg);
    transform: scale(1) rotate3d(1, 1, 0, 180deg);
  }
}
@keyframes flip-scale-up-diag-1 {
  0% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
    transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(2.5) rotate3d(1, 1, 0, 90deg);
    transform: scale(2.5) rotate3d(1, 1, 0, 90deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 180deg);
    transform: scale(1) rotate3d(1, 1, 0, 180deg);
  }
}

/* FLIP-SCALE, down-diag-1 */
#flip-scale-down-diag-1 {
  -webkit-animation: flip-scale-down-diag-1 0.5s linear both;
  animation: flip-scale-down-diag-1 0.5s linear both;
}
@-webkit-keyframes flip-scale-down-diag-1 {
  0% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
    transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(0.4) rotate3d(1, 1, 0, -90deg);
    transform: scale(0.4) rotate3d(1, 1, 0, -90deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, -180deg);
    transform: scale(1) rotate3d(1, 1, 0, -180deg);
  }
}
@keyframes flip-scale-down-diag-1 {
  0% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
    transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(0.4) rotate3d(1, 1, 0, -90deg);
    transform: scale(0.4) rotate3d(1, 1, 0, -90deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, -180deg);
    transform: scale(1) rotate3d(1, 1, 0, -180deg);
  }
}

/* FLIP-SCALE, up-diag-2 */
#flip-scale-up-diag-2 {
  -webkit-animation: flip-scale-up-diag-2 0.5s linear both;
  animation: flip-scale-up-diag-2 0.5s linear both;
}
@-webkit-keyframes flip-scale-up-diag-2 {
  0% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
    transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(2.5) rotate3d(-1, 1, 0, 90deg);
    transform: scale(2.5) rotate3d(-1, 1, 0, 90deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 180deg);
    transform: scale(1) rotate3d(-1, 1, 0, 180deg);
  }
}
@keyframes flip-scale-up-diag-2 {
  0% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
    transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(2.5) rotate3d(-1, 1, 0, 90deg);
    transform: scale(2.5) rotate3d(-1, 1, 0, 90deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 180deg);
    transform: scale(1) rotate3d(-1, 1, 0, 180deg);
  }
}

/* FLIP-SCALE, down-diag-2 */
#flip-scale-down-diag-2 {
  -webkit-animation: flip-scale-down-diag-2 0.5s linear both;
  animation: flip-scale-down-diag-2 0.5s linear both;
}
@-webkit-keyframes flip-scale-up-diag-2 {
  0% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
    transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(2.5) rotate3d(-1, 1, 0, 90deg);
    transform: scale(2.5) rotate3d(-1, 1, 0, 90deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 180deg);
    transform: scale(1) rotate3d(-1, 1, 0, 180deg);
  }
}
@keyframes flip-scale-up-diag-2 {
  0% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
    transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(2.5) rotate3d(-1, 1, 0, 90deg);
    transform: scale(2.5) rotate3d(-1, 1, 0, 90deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 180deg);
    transform: scale(1) rotate3d(-1, 1, 0, 180deg);
  }
}
