/* ----------------------------------------------
 * ANIMATION / BASIC / ROTATE
 * ---------------------------------------------- */
/* ROTATE, center */
#rotate-center {
	-webkit-animation: rotate-center 0.6s ease-in-out both;
	        animation: rotate-center 0.6s ease-in-out both;
}
 @-webkit-keyframes rotate-center {
        0% {
          -webkit-transform: rotate(0);
                  transform: rotate(0);
        }
        100% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
        }
      }
      @keyframes rotate-center {
        0% {
          -webkit-transform: rotate(0);
                  transform: rotate(0);
        }
        100% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
        }
      }
      
/* ROTATE, top */
#rotate-top {
	-webkit-animation: rotate-top 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: rotate-top 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
 @-webkit-keyframes rotate-top {
        0% {
          -webkit-transform: rotate(0);
                  transform: rotate(0);
          -webkit-transform-origin: top;
                  transform-origin: top;
        }
        100% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
          -webkit-transform-origin: top;
                  transform-origin: top;
        }
      }
      @keyframes rotate-top {
        0% {
          -webkit-transform: rotate(0);
                  transform: rotate(0);
          -webkit-transform-origin: top;
                  transform-origin: top;
        }
        100% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
          -webkit-transform-origin: top;
                  transform-origin: top;
        }
      }
      
/* ROTATE, tr */
#rotate-tr {
	-webkit-animation: rotate-tr 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: rotate-tr 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
 @-webkit-keyframes rotate-tr {
        0% {
          -webkit-transform: rotate(0);
                  transform: rotate(0);
          -webkit-transform-origin: top right;
                  transform-origin: top right;
        }
        100% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
          -webkit-transform-origin: top right;
                  transform-origin: top right;
        }
      }
      @keyframes rotate-tr {
        0% {
          -webkit-transform: rotate(0);
                  transform: rotate(0);
          -webkit-transform-origin: top right;
                  transform-origin: top right;
        }
        100% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
          -webkit-transform-origin: top right;
                  transform-origin: top right;
        }
      }
      
/* ROTATE, right */
.rotate-right {
	-webkit-animation: rotate-right 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: rotate-right 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
 @-webkit-keyframes rotate-right {
        0% {
          -webkit-transform: rotate(0);
                  transform: rotate(0);
          -webkit-transform-origin: right;
                  transform-origin: right;
        }
        100% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
          -webkit-transform-origin: right;
                  transform-origin: right;
        }
      }
      @keyframes rotate-right {
        0% {
          -webkit-transform: rotate(0);
                  transform: rotate(0);
          -webkit-transform-origin: right;
                  transform-origin: right;
        }
        100% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
          -webkit-transform-origin: right;
                  transform-origin: right;
        }
      }
      
      
/* ROTATE, br */
#rotate-br {
	-webkit-animation: rotate-br 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: rotate-br 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
 @-webkit-keyframes rotate-br {
        0% {
          -webkit-transform: rotate(0);
                  transform: rotate(0);
          -webkit-transform-origin: bottom right;
                  transform-origin: bottom right;
        }
        100% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
          -webkit-transform-origin: bottom right;
                  transform-origin: bottom right;
        }
      }
      @keyframes rotate-br {
        0% {
          -webkit-transform: rotate(0);
                  transform: rotate(0);
          -webkit-transform-origin: bottom right;
                  transform-origin: bottom right;
        }
        100% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
          -webkit-transform-origin: bottom right;
                  transform-origin: bottom right;
        }
      }
      
/* ROTATE, bottom */
#rotate-bottom {
	-webkit-animation: rotate-bottom 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: rotate-bottom 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
 @-webkit-keyframes rotate-bottom {
        0% {
          -webkit-transform: rotate(0);
                  transform: rotate(0);
          -webkit-transform-origin: bottom;
                  transform-origin: bottom;
        }
        100% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
          -webkit-transform-origin: bottom;
                  transform-origin: bottom;
        }
      }
      @keyframes rotate-bottom {
        0% {
          -webkit-transform: rotate(0);
                  transform: rotate(0);
          -webkit-transform-origin: bottom;
                  transform-origin: bottom;
        }
        100% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
          -webkit-transform-origin: bottom;
                  transform-origin: bottom;
        }
      }
      
/* ROTATE, bl */
#rotate-bl {
	-webkit-animation: rotate-bl 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: rotate-bl 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
 @-webkit-keyframes rotate-bl {
        0% {
          -webkit-transform: rotate(0);
                  transform: rotate(0);
          -webkit-transform-origin: bottom left;
                  transform-origin: bottom left;
        }
        100% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
          -webkit-transform-origin: bottom left;
                  transform-origin: bottom left;
        }
      }
      @keyframes rotate-bl {
        0% {
          -webkit-transform: rotate(0);
                  transform: rotate(0);
          -webkit-transform-origin: bottom left;
                  transform-origin: bottom left;
        }
        100% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
          -webkit-transform-origin: bottom left;
                  transform-origin: bottom left;
        }
      }
      
/* ROTATE, left */
#rotate-left {
	-webkit-animation: rotate-left 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: rotate-left 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
 @-webkit-keyframes rotate-left {
        0% {
          -webkit-transform: rotate(0);
                  transform: rotate(0);
          -webkit-transform-origin: left;
                  transform-origin: left;
        }
        100% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
          -webkit-transform-origin: left;
                  transform-origin: left;
        }
      }
      @keyframes rotate-left {
        0% {
          -webkit-transform: rotate(0);
                  transform: rotate(0);
          -webkit-transform-origin: left;
                  transform-origin: left;
        }
        100% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
          -webkit-transform-origin: left;
                  transform-origin: left;
        }
      }
      
/* ROTATE, tl */
#rotate-tl {
	-webkit-animation: rotate-tl 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: rotate-tl 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
 @-webkit-keyframes rotate-tl {
        0% {
          -webkit-transform: rotate(0);
                  transform: rotate(0);
          -webkit-transform-origin: top left;
                  transform-origin: top left;
        }
        100% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
          -webkit-transform-origin: top left;
                  transform-origin: top left;
        }
      }
      @keyframes rotate-tl {
        0% {
          -webkit-transform: rotate(0);
                  transform: rotate(0);
          -webkit-transform-origin: top left;
                  transform-origin: top left;
        }
        100% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
          -webkit-transform-origin: top left;
                  transform-origin: top left;
        }
      }
      
/* ROTATE, hor-center */
#rotate-hor-center {
	-webkit-animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
 @-webkit-keyframes rotate-hor-center {
        0% {
          -webkit-transform: rotateX(0);
                  transform: rotateX(0);
        }
        100% {
          -webkit-transform: rotateX(-360deg);
                  transform: rotateX(-360deg);
        }
      }
      @keyframes rotate-hor-center {
        0% {
          -webkit-transform: rotateX(0);
                  transform: rotateX(0);
        }
        100% {
          -webkit-transform: rotateX(-360deg);
                  transform: rotateX(-360deg);
        }
      }
      
/* ROTATE, hor-top */
#rotate-hor-top {
	-webkit-animation: rotate-hor-top 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
	        animation: rotate-hor-top 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
}
 @-webkit-keyframes rotate-hor-top {
        0% {
          -webkit-transform: rotateX(0);
                  transform: rotateX(0);
          -webkit-transform-origin: top;
                  transform-origin: top;
        }
        100% {
          -webkit-transform: rotateX(-360deg);
                  transform: rotateX(-360deg);
          -webkit-transform-origin: top;
                  transform-origin: top;
        }
      }
      @keyframes rotate-hor-top {
        0% {
          -webkit-transform: rotateX(0);
                  transform: rotateX(0);
          -webkit-transform-origin: top;
                  transform-origin: top;
        }
        100% {
          -webkit-transform: rotateX(-360deg);
                  transform: rotateX(-360deg);
          -webkit-transform-origin: top;
                  transform-origin: top;
        }
      }
      
/* ROTATE, hor-bottom */
#rotate-hor-bottom {
	-webkit-animation: rotate-hor-bottom 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
	        animation: rotate-hor-bottom 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
}
 @-webkit-keyframes rotate-hor-bottom {
        0% {
          -webkit-transform: rotateX(0);
                  transform: rotateX(0);
          -webkit-transform-origin: bottom;
                  transform-origin: bottom;
        }
        100% {
          -webkit-transform: rotateX(360deg);
                  transform: rotateX(360deg);
          -webkit-transform-origin: bottom;
                  transform-origin: bottom;
        }
      }
      @keyframes rotate-hor-bottom {
        0% {
          -webkit-transform: rotateX(0);
                  transform: rotateX(0);
          -webkit-transform-origin: bottom;
                  transform-origin: bottom;
        }
        100% {
          -webkit-transform: rotateX(360deg);
                  transform: rotateX(360deg);
          -webkit-transform-origin: bottom;
                  transform-origin: bottom;
        }
      }
      
/* ROTATE, vert-center */
#rotate-vert-center {
	-webkit-animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
 @-webkit-keyframes rotate-vert-center {
        0% {
          -webkit-transform: rotateY(0);
                  transform: rotateY(0);
        }
        100% {
          -webkit-transform: rotateY(360deg);
                  transform: rotateY(360deg);
        }
      }
      @keyframes rotate-vert-center {
        0% {
          -webkit-transform: rotateY(0);
                  transform: rotateY(0);
        }
        100% {
          -webkit-transform: rotateY(360deg);
                  transform: rotateY(360deg);
        }
      }
      
/* ROTATE, vert-left */
#rotate-vert-left {
	-webkit-animation: rotate-vert-left 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
	        animation: rotate-vert-left 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
}
 @-webkit-keyframes rotate-vert-left {
        0% {
          -webkit-transform: rotateY(0);
                  transform: rotateY(0);
          -webkit-transform-origin: left;
                  transform-origin: left;
        }
        100% {
          -webkit-transform: rotateY(360deg);
                  transform: rotateY(360deg);
          -webkit-transform-origin: left;
                  transform-origin: left;
        }
      }
      @keyframes rotate-vert-left {
        0% {
          -webkit-transform: rotateY(0);
                  transform: rotateY(0);
          -webkit-transform-origin: left;
                  transform-origin: left;
        }
        100% {
          -webkit-transform: rotateY(360deg);
                  transform: rotateY(360deg);
          -webkit-transform-origin: left;
                  transform-origin: left;
        }
      }
      
/* ROTATE, rotate-vert-right */
#rotate-vert-right {
	-webkit-animation: rotate-vert-right 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
	        animation: rotate-vert-right 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
}
 @-webkit-keyframes rotate-vert-right {
        0% {
          -webkit-transform: rotateY(0);
                  transform: rotateY(0);
          -webkit-transform-origin: right;
                  transform-origin: right;
        }
        100% {
          -webkit-transform: rotateY(-360deg);
                  transform: rotateY(-360deg);
          -webkit-transform-origin: right;
                  transform-origin: right;
        }
      }
      @keyframes rotate-vert-right {
        0% {
          -webkit-transform: rotateY(0);
                  transform: rotateY(0);
          -webkit-transform-origin: right;
                  transform-origin: right;
        }
        100% {
          -webkit-transform: rotateY(-360deg);
                  transform: rotateY(-360deg);
          -webkit-transform-origin: right;
                  transform-origin: right;
        }
      }
      
/* ROTATE, diagonal-1 */
#rotate-diagonal-1 {
	-webkit-animation: rotate-diagonal-1 0.4s linear both;
	        animation: rotate-diagonal-1 0.4s linear both;
}
 @-webkit-keyframes rotate-diagonal-1 {
        0% {
          -webkit-transform: rotate3d(1, 1, 0, 0deg);
                  transform: rotate3d(1, 1, 0, 0deg);
        }
        50% {
          -webkit-transform: rotate3d(1, 1, 0, -180deg);
                  transform: rotate3d(1, 1, 0, -180deg);
        }
        100% {
          -webkit-transform: rotate3d(1, 1, 0, -360deg);
                  transform: rotate3d(1, 1, 0, -360deg);
        }
      }
      @keyframes rotate-diagonal-1 {
        0% {
          -webkit-transform: rotate3d(1, 1, 0, 0deg);
                  transform: rotate3d(1, 1, 0, 0deg);
        }
        50% {
          -webkit-transform: rotate3d(1, 1, 0, -180deg);
                  transform: rotate3d(1, 1, 0, -180deg);
        }
        100% {
          -webkit-transform: rotate3d(1, 1, 0, -360deg);
                  transform: rotate3d(1, 1, 0, -360deg);
        }
      }
      
/* ROTATE, diagonal-2 */
#rotate-diagonal-2 {
	-webkit-animation: rotate-diagonal-2 0.4s linear both;
	        animation: rotate-diagonal-2 0.4s linear both;
}
 @-webkit-keyframes rotate-diagonal-2 {
        0% {
          -webkit-transform: rotate3d(-1, 1, 0, 0deg);
                  transform: rotate3d(-1, 1, 0, 0deg);
        }
        50% {
          -webkit-transform: rotate3d(-1, 1, 0, 180deg);
                  transform: rotate3d(-1, 1, 0, 180deg);
        }
        100% {
          -webkit-transform: rotate3d(-1, 1, 0, 360deg);
                  transform: rotate3d(-1, 1, 0, 360deg);
        }
      }
      @keyframes rotate-diagonal-2 {
        0% {
          -webkit-transform: rotate3d(-1, 1, 0, 0deg);
                  transform: rotate3d(-1, 1, 0, 0deg);
        }
        50% {
          -webkit-transform: rotate3d(-1, 1, 0, 180deg);
                  transform: rotate3d(-1, 1, 0, 180deg);
        }
        100% {
          -webkit-transform: rotate3d(-1, 1, 0, 360deg);
                  transform: rotate3d(-1, 1, 0, 360deg);
        }
      }
      
/* ROTATE, diagonal-tr */
#rotate-diagonal-tr {
	-webkit-animation: rotate-diagonal-tr 0.4s linear both;
	        animation: rotate-diagonal-tr 0.4s linear both;
}
 @-webkit-keyframes rotate-diagonal-tr {
        0% {
          -webkit-transform: rotate3d(1, 1, 0, 0deg);
                  transform: rotate3d(1, 1, 0, 0deg);
          -webkit-transform-origin: 100% 0%;
                  transform-origin: 100% 0%;
        }
        50% {
          -webkit-transform: rotate3d(1, 1, 0, -180deg);
                  transform: rotate3d(1, 1, 0, -180deg);
          -webkit-transform-origin: 100% 0%;
                  transform-origin: 100% 0%;
        }
        100% {
          -webkit-transform: rotate3d(1, 1, 0, -360deg);
                  transform: rotate3d(1, 1, 0, -360deg);
          -webkit-transform-origin: 100% 0%;
                  transform-origin: 100% 0%;
        }
      }
      @keyframes rotate-diagonal-tr {
        0% {
          -webkit-transform: rotate3d(1, 1, 0, 0deg);
                  transform: rotate3d(1, 1, 0, 0deg);
          -webkit-transform-origin: 100% 0%;
                  transform-origin: 100% 0%;
        }
        50% {
          -webkit-transform: rotate3d(1, 1, 0, -180deg);
                  transform: rotate3d(1, 1, 0, -180deg);
          -webkit-transform-origin: 100% 0%;
                  transform-origin: 100% 0%;
        }
        100% {
          -webkit-transform: rotate3d(1, 1, 0, -360deg);
                  transform: rotate3d(1, 1, 0, -360deg);
          -webkit-transform-origin: 100% 0%;
                  transform-origin: 100% 0%;
        }
      }
      
/* ROTATE, diagonal-br */
#rotate-diagonal-br {
	-webkit-animation: rotate-diagonal-br 0.4s linear both;
	        animation: rotate-diagonal-br 0.4s linear both;
}
 @-webkit-keyframes rotate-diagonal-br {
        0% {
          -webkit-transform: rotate3d(-1, 1, 0, 0deg);
                  transform: rotate3d(-1, 1, 0, 0deg);
          -webkit-transform-origin: 100% 100%;
                  transform-origin: 100% 100%;
        }
        50% {
          -webkit-transform: rotate3d(-1, 1, 0, -180deg);
                  transform: rotate3d(-1, 1, 0, -180deg);
          -webkit-transform-origin: 100% 100%;
                  transform-origin: 100% 100%;
        }
        100% {
          -webkit-transform: rotate3d(-1, 1, 0, -360deg);
                  transform: rotate3d(-1, 1, 0, -360deg);
          -webkit-transform-origin: 100% 100%;
                  transform-origin: 100% 100%;
        }
      }
      @keyframes rotate-diagonal-br {
        0% {
          -webkit-transform: rotate3d(-1, 1, 0, 0deg);
                  transform: rotate3d(-1, 1, 0, 0deg);
          -webkit-transform-origin: 100% 100%;
                  transform-origin: 100% 100%;
        }
        50% {
          -webkit-transform: rotate3d(-1, 1, 0, -180deg);
                  transform: rotate3d(-1, 1, 0, -180deg);
          -webkit-transform-origin: 100% 100%;
                  transform-origin: 100% 100%;
        }
        100% {
          -webkit-transform: rotate3d(-1, 1, 0, -360deg);
                  transform: rotate3d(-1, 1, 0, -360deg);
          -webkit-transform-origin: 100% 100%;
                  transform-origin: 100% 100%;
        }
      }
      
/* ROTATE, diagonal-bl */
#rotate-diagonal-bl {
	-webkit-animation: rotate-diagonal-bl 0.4s linear both;
	        animation: rotate-diagonal-bl 0.4s linear both;
}
 @-webkit-keyframes rotate-diagonal-bl {
        0% {
          -webkit-transform: rotate3d(1, 1, 0, 0deg);
                  transform: rotate3d(1, 1, 0, 0deg);
          -webkit-transform-origin: 0% 100%;
                  transform-origin: 0% 100%;
        }
        50% {
          -webkit-transform: rotate3d(1, 1, 0, 180deg);
                  transform: rotate3d(1, 1, 0, 180deg);
          -webkit-transform-origin: 0% 100%;
                  transform-origin: 0% 100%;
        }
        100% {
          -webkit-transform: rotate3d(1, 1, 0, 360deg);
                  transform: rotate3d(1, 1, 0, 360deg);
          -webkit-transform-origin: 0% 100%;
                  transform-origin: 0% 100%;
        }
      }
      @keyframes rotate-diagonal-bl {
        0% {
          -webkit-transform: rotate3d(1, 1, 0, 0deg);
                  transform: rotate3d(1, 1, 0, 0deg);
          -webkit-transform-origin: 0% 100%;
                  transform-origin: 0% 100%;
        }
        50% {
          -webkit-transform: rotate3d(1, 1, 0, 180deg);
                  transform: rotate3d(1, 1, 0, 180deg);
          -webkit-transform-origin: 0% 100%;
                  transform-origin: 0% 100%;
        }
        100% {
          -webkit-transform: rotate3d(1, 1, 0, 360deg);
                  transform: rotate3d(1, 1, 0, 360deg);
          -webkit-transform-origin: 0% 100%;
                  transform-origin: 0% 100%;
        }
      }
      
/* ROTATE, diagonal-tl */
#rotate-diagonal-tl {
	-webkit-animation: rotate-diagonal-tl 0.4s linear both;
	        animation: rotate-diagonal-tl 0.4s linear both;
}
 @-webkit-keyframes rotate-diagonal-tl {
        0% {
          -webkit-transform: rotate3d(-1, 1, 0, 0deg);
                  transform: rotate3d(-1, 1, 0, 0deg);
          -webkit-transform-origin: 0% 0%;
                  transform-origin: 0% 0%;
        }
        50% {
          -webkit-transform: rotate3d(-1, 1, 0, 180deg);
                  transform: rotate3d(-1, 1, 0, 180deg);
          -webkit-transform-origin: 0% 0%;
                  transform-origin: 0% 0%;
        }
        100% {
          -webkit-transform: rotate3d(-1, 1, 0, 360deg);
                  transform: rotate3d(-1, 1, 0, 360deg);
          -webkit-transform-origin: 0% 0%;
                  transform-origin: 0% 0%;
        }
      }
      @keyframes rotate-diagonal-tl {
        0% {
          -webkit-transform: rotate3d(-1, 1, 0, 0deg);
                  transform: rotate3d(-1, 1, 0, 0deg);
          -webkit-transform-origin: 0% 0%;
                  transform-origin: 0% 0%;
        }
        50% {
          -webkit-transform: rotate3d(-1, 1, 0, 180deg);
                  transform: rotate3d(-1, 1, 0, 180deg);
          -webkit-transform-origin: 0% 0%;
                  transform-origin: 0% 0%;
        }
        100% {
          -webkit-transform: rotate3d(-1, 1, 0, 360deg);
                  transform: rotate3d(-1, 1, 0, 360deg);
          -webkit-transform-origin: 0% 0%;
                  transform-origin: 0% 0%;
        }
      }
      