/* ----------------------------------------------
 * ANIMATION / BASIC / ROTATE-SCALE
 * ---------------------------------------------- */
/* ROTATE-SCALE, up */
#rotate-scale-up {
	-webkit-animation: rotate-scale-up 0.65s linear both;
	        animation: rotate-scale-up 0.65s linear both;
}
 @-webkit-keyframes rotate-scale-up {
        0% {
          -webkit-transform: scale(1) rotateZ(0);
                  transform: scale(1) rotateZ(0);
        }
        50% {
          -webkit-transform: scale(2) rotateZ(180deg);
                  transform: scale(2) rotateZ(180deg);
        }
        100% {
          -webkit-transform: scale(1) rotateZ(360deg);
                  transform: scale(1) rotateZ(360deg);
        }
      }
      @keyframes rotate-scale-up {
        0% {
          -webkit-transform: scale(1) rotateZ(0);
                  transform: scale(1) rotateZ(0);
        }
        50% {
          -webkit-transform: scale(2) rotateZ(180deg);
                  transform: scale(2) rotateZ(180deg);
        }
        100% {
          -webkit-transform: scale(1) rotateZ(360deg);
                  transform: scale(1) rotateZ(360deg);
        }
      }
      
/* ROTATE-SCALE, down */
#rotate-scale-down {
	-webkit-animation: rotate-scale-down 0.65s linear both;
	        animation: rotate-scale-down 0.65s linear both;
}
 @-webkit-keyframes rotate-scale-down {
        0% {
          -webkit-transform: scale(1) rotateZ(0);
                  transform: scale(1) rotateZ(0);
        }
        50% {
          -webkit-transform: scale(0.5) rotateZ(180deg);
                  transform: scale(0.5) rotateZ(180deg);
        }
        100% {
          -webkit-transform: scale(1) rotateZ(360deg);
                  transform: scale(1) rotateZ(360deg);
        }
      }
      @keyframes rotate-scale-down {
        0% {
          -webkit-transform: scale(1) rotateZ(0);
                  transform: scale(1) rotateZ(0);
        }
        50% {
          -webkit-transform: scale(0.5) rotateZ(180deg);
                  transform: scale(0.5) rotateZ(180deg);
        }
        100% {
          -webkit-transform: scale(1) rotateZ(360deg);
                  transform: scale(1) rotateZ(360deg);
        }
      }
      
/* ROTATE-SCALE, up-hor */
#rotate-scale-up-hor {
	-webkit-animation: rotate-scale-up-hor 0.65s linear both;
	        animation: rotate-scale-up-hor 0.65s linear both;
}
 @-webkit-keyframes rotate-scale-up-hor {
        0% {
          -webkit-transform: scale(1) rotateX(0);
                  transform: scale(1) rotateX(0);
        }
        50% {
          -webkit-transform: scale(2) rotateX(-180deg);
                  transform: scale(2) rotateX(-180deg);
        }
        100% {
          -webkit-transform: scale(1) rotateX(-360deg);
                  transform: scale(1) rotateX(-360deg);
        }
      }
      @keyframes rotate-scale-up-hor {
        0% {
          -webkit-transform: scale(1) rotateX(0);
                  transform: scale(1) rotateX(0);
        }
        50% {
          -webkit-transform: scale(2) rotateX(-180deg);
                  transform: scale(2) rotateX(-180deg);
        }
        100% {
          -webkit-transform: scale(1) rotateX(-360deg);
                  transform: scale(1) rotateX(-360deg);
        }
      }
      
/* ROTATE-SCALE, down-hor */
#rotate-scale-down-hor {
	-webkit-animation: rotate-scale-down-hor 0.65s linear both;
	        animation: rotate-scale-down-hor 0.65s linear both;
}
 @-webkit-keyframes rotate-scale-down-hor {
        0% {
          -webkit-transform: scale(1) rotateX(0);
                  transform: scale(1) rotateX(0);
        }
        50% {
          -webkit-transform: scale(0.5) rotateX(-180deg);
                  transform: scale(0.5) rotateX(-180deg);
        }
        100% {
          -webkit-transform: scale(1) rotateX(-360deg);
                  transform: scale(1) rotateX(-360deg);
        }
      }
      @keyframes rotate-scale-down-hor {
        0% {
          -webkit-transform: scale(1) rotateX(0);
                  transform: scale(1) rotateX(0);
        }
        50% {
          -webkit-transform: scale(0.5) rotateX(-180deg);
                  transform: scale(0.5) rotateX(-180deg);
        }
        100% {
          -webkit-transform: scale(1) rotateX(-360deg);
                  transform: scale(1) rotateX(-360deg);
        }
      }
      
/* ROTATE-SCALE, up-ver */
#rotate-scale-up-ver {
	-webkit-animation: rotate-scale-up-ver 0.65s linear both;
	        animation: rotate-scale-up-ver 0.65s linear both;
}
 @-webkit-keyframes rotate-scale-up-ver {
        0% {
          -webkit-transform: scale(1) rotateY(0);
                  transform: scale(1) rotateY(0);
        }
        50% {
          -webkit-transform: scale(2) rotateY(180deg);
                  transform: scale(2) rotateY(180deg);
        }
        100% {
          -webkit-transform: scale(1) rotateY(360deg);
                  transform: scale(1) rotateY(360deg);
        }
      }
      @keyframes rotate-scale-up-ver {
        0% {
          -webkit-transform: scale(1) rotateY(0);
                  transform: scale(1) rotateY(0);
        }
        50% {
          -webkit-transform: scale(2) rotateY(180deg);
                  transform: scale(2) rotateY(180deg);
        }
        100% {
          -webkit-transform: scale(1) rotateY(360deg);
                  transform: scale(1) rotateY(360deg);
        }
      }
      
/* ROTATE-SCALE, down-ver */
#rotate-scale-down-ver {
	-webkit-animation: rotate-scale-down-ver 0.65s linear both;
	        animation: rotate-scale-down-ver 0.65s linear both;
}
 @-webkit-keyframes rotate-scale-down-ver {
        0% {
          -webkit-transform: scale(1) rotateY(0);
                  transform: scale(1) rotateY(0);
        }
        50% {
          -webkit-transform: scale(0.5) rotateY(180deg);
                  transform: scale(0.5) rotateY(180deg);
        }
        100% {
          -webkit-transform: scale(1) rotateY(360deg);
                  transform: scale(1) rotateY(360deg);
        }
      }
      @keyframes rotate-scale-down-ver {
        0% {
          -webkit-transform: scale(1) rotateY(0);
                  transform: scale(1) rotateY(0);
        }
        50% {
          -webkit-transform: scale(0.5) rotateY(180deg);
                  transform: scale(0.5) rotateY(180deg);
        }
        100% {
          -webkit-transform: scale(1) rotateY(360deg);
                  transform: scale(1) rotateY(360deg);
        }
      }
      
/* ROTATE-SCALE, up-diag-1 */
#rotate-scale-up-diag-1 {
	-webkit-animation: rotate-scale-up-diag-1 0.7s linear both;
	        animation: rotate-scale-up-diag-1 0.7s linear both;
}
 @-webkit-keyframes rotate-scale-up-diag-1 {
        0% {
          -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
                  transform: scale(1) rotate3d(1, 1, 0, 0deg);
        }
        50% {
          -webkit-transform: scale(2) rotate3d(1, 1, 0, -180deg);
                  transform: scale(2) rotate3d(1, 1, 0, -180deg);
        }
        100% {
          -webkit-transform: scale(1) rotate3d(1, 1, 0, -360deg);
                  transform: scale(1) rotate3d(1, 1, 0, -360deg);
        }
      }
      @keyframes rotate-scale-up-diag-1 {
        0% {
          -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
                  transform: scale(1) rotate3d(1, 1, 0, 0deg);
        }
        50% {
          -webkit-transform: scale(2) rotate3d(1, 1, 0, -180deg);
                  transform: scale(2) rotate3d(1, 1, 0, -180deg);
        }
        100% {
          -webkit-transform: scale(1) rotate3d(1, 1, 0, -360deg);
                  transform: scale(1) rotate3d(1, 1, 0, -360deg);
        }
      }
      
/* ROTATE-SCALE, down-diag-1 */
#rotate-scale-down-diag-1 {
	-webkit-animation: rotate-scale-down-diag-1 0.7s linear both;
	        animation: rotate-scale-down-diag-1 0.7s linear both;
}
 @-webkit-keyframes rotate-scale-down-diag-1 {
        0% {
          -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
                  transform: scale(1) rotate3d(1, 1, 0, 0deg);
        }
        50% {
          -webkit-transform: scale(0.5) rotate3d(1, 1, 0, -180deg);
                  transform: scale(0.5) rotate3d(1, 1, 0, -180deg);
        }
        100% {
          -webkit-transform: scale(1) rotate3d(1, 1, 0, -360deg);
                  transform: scale(1) rotate3d(1, 1, 0, -360deg);
        }
      }
      @keyframes rotate-scale-down-diag-1 {
        0% {
          -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
                  transform: scale(1) rotate3d(1, 1, 0, 0deg);
        }
        50% {
          -webkit-transform: scale(0.5) rotate3d(1, 1, 0, -180deg);
                  transform: scale(0.5) rotate3d(1, 1, 0, -180deg);
        }
        100% {
          -webkit-transform: scale(1) rotate3d(1, 1, 0, -360deg);
                  transform: scale(1) rotate3d(1, 1, 0, -360deg);
        }
      }
      
/* ROTATE-SCALE, up-diag-2 */
#rotate-scale-up-diag-2 {
	-webkit-animation: rotate-scale-up-diag-2 0.7s linear both;
	        animation: rotate-scale-up-diag-2 0.7s linear both;
}
 @-webkit-keyframes rotate-scale-up-diag-2 {
        0% {
          -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
                  transform: scale(1) rotate3d(-1, 1, 0, 0deg);
        }
        50% {
          -webkit-transform: scale(2) rotate3d(-1, 1, 0, 180deg);
                  transform: scale(2) rotate3d(-1, 1, 0, 180deg);
        }
        100% {
          -webkit-transform: scale(1) rotate3d(-1, 1, 0, 360deg);
                  transform: scale(1) rotate3d(-1, 1, 0, 360deg);
        }
      }
      @keyframes rotate-scale-up-diag-2 {
        0% {
          -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
                  transform: scale(1) rotate3d(-1, 1, 0, 0deg);
        }
        50% {
          -webkit-transform: scale(2) rotate3d(-1, 1, 0, 180deg);
                  transform: scale(2) rotate3d(-1, 1, 0, 180deg);
        }
        100% {
          -webkit-transform: scale(1) rotate3d(-1, 1, 0, 360deg);
                  transform: scale(1) rotate3d(-1, 1, 0, 360deg);
        }
      }
      
/* ROTATE-SCALE, up-diag-2 */
#rotate-scale-down-diag-2 {
	-webkit-animation: rotate-scale-down-diag-2 0.7s linear both;
	        animation: rotate-scale-down-diag-2 0.7s linear both;
}
 @-webkit-keyframes rotate-scale-down-diag-2 {
        0% {
          -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
                  transform: scale(1) rotate3d(-1, 1, 0, 0deg);
        }
        50% {
          -webkit-transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
                  transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
        }
        100% {
          -webkit-transform: scale(1) rotate3d(-1, 1, 0, 360deg);
                  transform: scale(1) rotate3d(-1, 1, 0, 360deg);
        }
      }
      @keyframes rotate-scale-down-diag-2 {
        0% {
          -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
                  transform: scale(1) rotate3d(-1, 1, 0, 0deg);
        }
        50% {
          -webkit-transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
                  transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
        }
        100% {
          -webkit-transform: scale(1) rotate3d(-1, 1, 0, 360deg);
                  transform: scale(1) rotate3d(-1, 1, 0, 360deg);
        }
      }
      