/* ----------------------------------------------
 * ANIMATION / BASIC / SLIDE-FWD
 * ---------------------------------------------- */
/* SLIDE-FWD, center */
#slide-fwd-center {
  -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}
@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}

/* SLIDE-FWD, top */
#slide-fwd-top {
  -webkit-animation: slide-fwd-top 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-fwd-top 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-fwd-top {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(-100px);
    transform: translateZ(160px) translateY(-100px);
  }
}
@keyframes slide-fwd-top {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(-100px);
    transform: translateZ(160px) translateY(-100px);
  }
}

/* SLIDE-FWD, tr */
#slide-fwd-tr {
  -webkit-animation: slide-fwd-tr 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-fwd-tr 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-fwd-tr {
  0% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
    transform: translateZ(0) translateY(0) translateX(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(-100px) translateX(100px);
    transform: translateZ(160px) translateY(-100px) translateX(100px);
  }
}
@keyframes slide-fwd-tr {
  0% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
    transform: translateZ(0) translateY(0) translateX(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(-100px) translateX(100px);
    transform: translateZ(160px) translateY(-100px) translateX(100px);
  }
}

/* SLIDE-FWD, right */
#slide-fwd-right {
  -webkit-animation: slide-fwd-right 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-fwd-right 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-fwd-right {
  0% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateX(100px);
    transform: translateZ(160px) translateX(100px);
  }
}
@keyframes slide-fwd-right {
  0% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateX(100px);
    transform: translateZ(160px) translateX(100px);
  }
}

/* SLIDE-FWD, br */
#slide-fwd-br {
  -webkit-animation: slide-fwd-br 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-fwd-br 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-fwd-br {
  0% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
    transform: translateZ(0) translateY(0) translateX(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(100px) translateX(100px);
    transform: translateZ(160px) translateY(100px) translateX(100px);
  }
}
@keyframes slide-fwd-br {
  0% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
    transform: translateZ(0) translateY(0) translateX(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(100px) translateX(100px);
    transform: translateZ(160px) translateY(100px) translateX(100px);
  }
}

/* SLIDE-FWD, bottom */
#slide-fwd-bottom {
  -webkit-animation: slide-fwd-bottom 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-fwd-bottom 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-fwd-bottom {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(100px);
    transform: translateZ(160px) translateY(100px);
  }
}
@keyframes slide-fwd-bottom {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(100px);
    transform: translateZ(160px) translateY(100px);
  }
}

/* SLIDE-FWD, bl */
#slide-fwd-bl {
  -webkit-animation: slide-fwd-bl 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-fwd-bl 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-fwd-bl {
  0% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
    transform: translateZ(0) translateY(0) translateX(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(100px) translateX(-100px);
    transform: translateZ(160px) translateY(100px) translateX(-100px);
  }
}
@keyframes slide-fwd-bl {
  0% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
    transform: translateZ(0) translateY(0) translateX(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(100px) translateX(-100px);
    transform: translateZ(160px) translateY(100px) translateX(-100px);
  }
}

/* SLIDE-FWD, left */
#slide-fwd-left {
  -webkit-animation: slide-fwd-left 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-fwd-left 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-fwd-left {
  0% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateX(-100px);
    transform: translateZ(160px) translateX(-100px);
  }
}
@keyframes slide-fwd-left {
  0% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateX(-100px);
    transform: translateZ(160px) translateX(-100px);
  }
}

/* SLIDE-FWD, tl */
#slide-fwd-tl {
  -webkit-animation: slide-fwd-tl 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-fwd-tl 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-fwd-tl {
  0% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
    transform: translateZ(0) translateY(0) translateX(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(-100px) translateX(-100px);
    transform: translateZ(160px) translateY(-100px) translateX(-100px);
  }
}
@keyframes slide-fwd-tl {
  0% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
    transform: translateZ(0) translateY(0) translateX(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(-100px) translateX(-100px);
    transform: translateZ(160px) translateY(-100px) translateX(-100px);
  }
}
