/* ----------------------------------------------
 * ANIMATION / TEXT / TRACKING-OUT
 * ---------------------------------------------- */
/* TRACKING-OUT, contract */
#tracking-out-contract {
	-webkit-animation: tracking-out-contract 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: tracking-out-contract 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes tracking-out-contract {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
  }
  @keyframes tracking-out-contract {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
  }
  
/* TRACKING-OUT, contract-bck */
#tracking-out-contract-bck {
	-webkit-animation: tracking-out-contract-bck 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: tracking-out-contract-bck 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes tracking-out-contract-bck {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-500px);
              transform: translateZ(-500px);
      opacity: 0;
    }
  }
  @keyframes tracking-out-contract-bck {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-500px);
              transform: translateZ(-500px);
      opacity: 0;
    }
  }
  
/* TRACKING-OUT, contract-bck-top */
#tracking-out-contract-bck-top {
	-webkit-animation: tracking-out-contract-bck-top 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: tracking-out-contract-bck-top 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes tracking-out-contract-bck-top {
    0% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-500px) translateY(-300px);
              transform: translateZ(-500px) translateY(-300px);
      opacity: 0;
    }
  }
  @keyframes tracking-out-contract-bck-top {
    0% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-500px) translateY(-300px);
              transform: translateZ(-500px) translateY(-300px);
      opacity: 0;
    }
  }
  
/* TRACKING-OUT, contract-bck-bottom */
#tracking-out-contract-bck-bottom {
	-webkit-animation: tracking-out-contract-bck-bottom 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: tracking-out-contract-bck-bottom 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes tracking-out-contract-bck-bottom {
    0% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-500px) translateY(300px);
              transform: translateZ(-500px) translateY(300px);
      opacity: 0;
    }
  }
  @keyframes tracking-out-contract-bck-bottom {
    0% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-500px) translateY(300px);
              transform: translateZ(-500px) translateY(300px);
      opacity: 0;
    }
  }
  
/* TRACKING-OUT, expand */
#tracking-out-expand {
	-webkit-animation: tracking-out-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tracking-out-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes tracking-out-expand {
    0% {
      opacity: 1;
    }
    60% {
      opacity: 0.8;
    }
    100% {
      letter-spacing: 1em;
      opacity: 0;
    }
  }
  @keyframes tracking-out-expand {
    0% {
      opacity: 1;
    }
    60% {
      opacity: 0.8;
    }
    100% {
      letter-spacing: 1em;
      opacity: 0;
    }
  }
  
/* TRACKING-OUT, expand-fwd */
#tracking-out-expand-fwd {
	-webkit-animation: tracking-out-expand-fwd 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: tracking-out-expand-fwd 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes tracking-out-expand-fwd {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
    60% {
      opacity: 0.8;
    }
    100% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      opacity: 0;
    }
  }
  @keyframes tracking-out-expand-fwd {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
    60% {
      opacity: 0.8;
    }
    100% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      opacity: 0;
    }
  }
  
/* TRACKING-OUT, expand-fwd-top */
#tracking-out-expand-fwd-top {
	-webkit-animation: tracking-out-expand-fwd-top 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: tracking-out-expand-fwd-top 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes tracking-out-expand-fwd-top {
    0% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
    60% {
      opacity: 0.8;
    }
    100% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px) translateY(-200px);
              transform: translateZ(300px) translateY(-200px);
      opacity: 0;
    }
  }
  @keyframes tracking-out-expand-fwd-top {
    0% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
    60% {
      opacity: 0.8;
    }
    100% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px) translateY(-200px);
              transform: translateZ(300px) translateY(-200px);
      opacity: 0;
    }
  }
  
/* TRACKING-OUT, expand-fwd-bottom */
#tracking-out-expand-fwd-bottom {
	-webkit-animation: tracking-out-expand-fwd-bottom 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: tracking-out-expand-fwd-bottom 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes tracking-out-expand-fwd-bottom {
    0% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
    60% {
      opacity: 0.8;
    }
    100% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px) translateY(200px);
              transform: translateZ(300px) translateY(200px);
      opacity: 0;
    }
  }
  @keyframes tracking-out-expand-fwd-bottom {
    0% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
    60% {
      opacity: 0.8;
    }
    100% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px) translateY(200px);
              transform: translateZ(300px) translateY(200px);
      opacity: 0;
    }
  }