/*
*   THIS SOURCE LICENSED BY KIM INCHUL
*   MAINTAINED & UPDATE   
*   CONTACT - rdc6087@naver.com   
*
*   FLW. MIT LICENSE
*/
/* ANIMATION TEXT*/
@import url("animation/text/blur-out.css");
@import url("animation/text/flicker.css");
@import url("animation/text/focus-in.css");
@import url("animation/text/pop-up.css");
@import url("animation/text/shadow-drop.css");
@import url("animation/text/shadow-pop.css");
@import url("animation/text/tracking-in.css");
@import url("animation/text/tracking-out.css");

/* Button Transition Animation : Press & Hover*/
@media (max-width: 768px) {
    #btns {
        transition: transform 0.5s;
        -webkit-tap-highlight-color: transparent;
        touch-action: manipulation;
        user-select: none;
    }

    #btns:active {
        transform: scale(0.9);
    }
}

@media (min-width: 769px) {
    #btns {
        transition: transform 0.2s;
    }

    #btns:hover {
        transform: scale(0.97);
    }
}


/* Lazy Loading - Skeleton */
#skeleton {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 3.0s infinite;
}

@keyframes shimmer {
    from {
        background-position: -200% 0;
    }

    to {
        background-position: 200% 0;
    }
}

/* Blur Style */
#ten-blur {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#twenty-blur {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

#thirty-blur {
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

#fourty-blur {
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
}

#fifty-blur {
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}


/* Shadow Text */
#shadow-text {
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

/* Popup Center */
#popup-center {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    right: auto !important;
    bottom: auto !important;
    -webkit-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
}

/* Popup Bottom */
#popup-bottom {
    width: 100% !important;
    max-width: unset !important;
    bottom: 0px !important;
    inset: auto auto 0 0 !important;
}

/* None Click */
#none-click {
    pointer-events: none;
}

/* Slide Bottom Animation */
#slide-in-bottom {
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

#slide-out-bottom {
    -webkit-animation: slide-out-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-out-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes slide-out-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }
}

@keyframes slide-out-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }
}