/* ----------------------------------------------
 * ANIMATION / BACKGROUND / BG-PAN
 * ---------------------------------------------- */
/* BG-PAN, bg-pan-left */
#bg-pan-left {
	-webkit-animation: bg-pan-left 8s both;
	        animation: bg-pan-left 8s both;
}
 @-webkit-keyframes bg-pan-left {
        0% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
      @keyframes bg-pan-left {
        0% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
      
/* BG-PAN, bg-pan-right */
#bg-pan-right {
	-webkit-animation: bg-pan-right 8s both;
	        animation: bg-pan-right 8s both;
}
 @-webkit-keyframes bg-pan-right {
        0% {
          background-position: 0% 50%;
        }
        100% {
          background-position: 100% 50%;
        }
      }
      @keyframes bg-pan-right {
        0% {
          background-position: 0% 50%;
        }
        100% {
          background-position: 100% 50%;
        }
      }
      
/* BG-PAN, bg-pan-top */
#bg-pan-top {
	-webkit-animation: bg-pan-top 8s both;
	        animation: bg-pan-top 8s both;
}
 @-webkit-keyframes bg-pan-top {
        0% {
          background-position: 50% 100%;
        }
        100% {
          background-position: 50% 0%;
        }
      }
      @keyframes bg-pan-top {
        0% {
          background-position: 50% 100%;
        }
        100% {
          background-position: 50% 0%;
        }
      }
      
/* BG-PAN, bg-pan-bottom */
#bg-pan-bottom {
	-webkit-animation: bg-pan-bottom 8s both;
	        animation: bg-pan-bottom 8s both;
}
 @-webkit-keyframes bg-pan-bottom {
        0% {
          background-position: 50% 0%;
        }
        100% {
          background-position: 50% 100%;
        }
      }
      @keyframes bg-pan-bottom {
        0% {
          background-position: 50% 0%;
        }
        100% {
          background-position: 50% 100%;
        }
      }
      
/* BG-PAN, bg-pan-tr */
#bg-pan-tr {
	-webkit-animation: bg-pan-tr 8s both;
	        animation: bg-pan-tr 8s both;
}
 @-webkit-keyframes bg-pan-tr {
        0% {
          background-position: 0% 100%;
        }
        100% {
          background-position: 100% 0%;
        }
      }
      @keyframes bg-pan-tr {
        0% {
          background-position: 0% 100%;
        }
        100% {
          background-position: 100% 0%;
        }
      }
      
/* BG-PAN, bg-pan-br */
#bg-pan-br {
	-webkit-animation: bg-pan-br 8s both;
	        animation: bg-pan-br 8s both;
}
 @-webkit-keyframes bg-pan-br {
        0% {
          background-position: 0% 0%;
        }
        100% {
          background-position: 100% 100%;
        }
      }
      @keyframes bg-pan-br {
        0% {
          background-position: 0% 0%;
        }
        100% {
          background-position: 100% 100%;
        }
      }
      
/* BG-PAN, bg-pan-bl */
#bg-pan-bl {
	-webkit-animation: bg-pan-bl 8s both;
	        animation: bg-pan-bl 8s both;
}
 @-webkit-keyframes bg-pan-bl {
        0% {
          background-position: 100% 0%;
        }
        100% {
          background-position: 0% 100%;
        }
      }
      @keyframes bg-pan-bl {
        0% {
          background-position: 100% 0%;
        }
        100% {
          background-position: 0% 100%;
        }
      }
      
/* BG-PAN, bg-pan-tl */
#bg-pan-tl {
	-webkit-animation: bg-pan-tl 8s both;
	        animation: bg-pan-tl 8s both;
}
 @-webkit-keyframes bg-pan-tl {
        0% {
          background-position: 100% 100%;
        }
        100% {
          background-position: 0% 0%;
        }
      }
      @keyframes bg-pan-tl {
        0% {
          background-position: 100% 100%;
        }
        100% {
          background-position: 0% 0%;
        }
      }
      