/* ----------------------------------------------
 * ANIMATION / BACKGROUND / COLOR-CHANGE
 * ---------------------------------------------- */
/* COLOR-CHANGE, colro-change-2x */
#color-change-2x {
	-webkit-animation: color-change-2x 2s linear infinite alternate both;
	        animation: color-change-2x 2s linear infinite alternate both;
}
 @-webkit-keyframes color-change-2x {
        0% {
          background: #19dcea;
        }
        100% {
          background: #b22cff;
        }
      }
      @keyframes color-change-2x {
        0% {
          background: #19dcea;
        }
        100% {
          background: #b22cff;
        }
      }
      
/* COLOR-CHANGE, colro-change-3x */
#color-change-3x {
	-webkit-animation: color-change-3x 4s linear infinite alternate both;
	        animation: color-change-3x 4s linear infinite alternate both;
}
 @-webkit-keyframes color-change-3x {
        0% {
          background: #19dcea;
        }
        50% {
          background: #b22cff;
        }
        100% {
          background: #ea2222;
        }
      }
      @keyframes color-change-3x {
        0% {
          background: #19dcea;
        }
        50% {
          background: #b22cff;
        }
        100% {
          background: #ea2222;
        }
      }
      
/* COLOR-CHANGE, colro-change-4x */
#color-change-4x {
	-webkit-animation: color-change-4x 6s linear infinite alternate both;
	        animation: color-change-4x 6s linear infinite alternate both;
}
 @-webkit-keyframes color-change-4x {
        0% {
          background: #19dcea;
        }
        33.3333% {
          background: #b22cff;
        }
        66.666% {
          background: #ea2222;
        }
        100% {
          background: #f5be10;
        }
      }
      @keyframes color-change-4x {
        0% {
          background: #19dcea;
        }
        33.3333% {
          background: #b22cff;
        }
        66.666% {
          background: #ea2222;
        }
        100% {
          background: #f5be10;
        }
      }
      
/* COLOR-CHANGE, colro-change-5x */
#color-change-5x {
	-webkit-animation: color-change-5x 8s linear infinite alternate both;
	        animation: color-change-5x 8s linear infinite alternate both;
}
 @-webkit-keyframes color-change-5x {
        0% {
          background: #19dcea;
        }
        25% {
          background: #b22cff;
        }
        50% {
          background: #ea2222;
        }
        75% {
          background: #f5be10;
        }
        100% {
          background: #3bd80d;
        }
      }
      @keyframes color-change-5x {
        0% {
          background: #19dcea;
        }
        25% {
          background: #b22cff;
        }
        50% {
          background: #ea2222;
        }
        75% {
          background: #f5be10;
        }
        100% {
          background: #3bd80d;
        }
      }
      